.contact-me{
    min-height: 100vh;
    color: $color-primary;
    background: url(../img/altumcode-dMUt0X3f59Q-unsplash.jpg) no-repeat center;
    background-size: cover;

    .form-bg{
        width: 100%;
        min-height: inherit;
        background-color: rgba($color: $color-secondary-darkend, $alpha: 0.8);

        .form-container{
            width: 90%;
            margin: 0 auto;
            padding: 2em;

            p{
                text-align: center;
            }

            h2{
                font-size: 1.75rem;
                font-weight: 700;
                text-align: center;
                padding: 0 0 0.5em;
            }

            .contact-form{
                margin: auto;

                .form-field{
                    .contact-form-text{
                        display: block;
                        width: 100%;
                        margin: 1em 0;
                        border: 0;
                        background: $color-secondary-lightened;
                        padding: 1em 2em;
                        outline: none;
                        color: $color-primary;
                        transition: 0.5s;

                        &:focus{
                            box-shadow: 0 0 10px 4px $color-logo;
                        }
                    }

                    textarea.contact-form-text{
                        resize: none;
                        height: 120px;
                    }

                    .error-form{
                        border: 1px solid $color-alert;

                        &:focus{
                            box-shadow: 0 0 10px 4px $color-alert;
                        }
                    }

                    .error-message{
                        text-align: right;
                        font-size: 0.5rem;
                        color: $color-alert;
                        margin: 0.5em 0;   
                    }

                    .success-form{
                        border: 1px solid $color-success;

                        &:focus{
                            box-shadow: 0 0 10px 4px $color-success;
                        }
                    }
                    
                    .btn-contact-me{
                        float: left;
                        border: 2px solid $color-action;
                        color: $color-secondary;
                        background: $color-action;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 0.5em 1.5em;
                        border-radius: 0.5em;
                        cursor: pointer;
                        transition: 0.5s;
                        margin: 1em 0;

                        &:hover{
                            background: $color-secondary;
                            color: $color-action;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px){
    .contact-me .form-bg .form-container h2{
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1000px){
    .contact-me .form-bg{
        width: 50%;
    }
}

@media screen and (min-width: 1450px){
    .contact-me .form-bg .form-container{
        h2{
            font-size: 3rem;
        }

        .contact-form .form-field{
            .contact-form-text{
                padding: 1.25em 2.5em;
            }

            .btn-contact-me{
                font-size: 1.25rem;
            }
        }
    }
}

@media screen and (min-width: 1650px){
    .contact-me .form-bg .form-container{
        p{
            font-size: 1.25rem;
        }

        h2{
            font-size: 3.5rem;
        }

        .contact-form{
            font-size: 1.25rem;

            .form-field{
                .error-message{
                    font-size: 0.75rem;
                }
            }
        }
    }
}