$color-primary: #ECF0F1;
$color-secondary: #333333;
$color-secondary-darkend: #303030;
$color-secondary-very-dark: #262626;
$color-secondary-lightened: #444444;
$color-logo: #0ABDE3;
$color-action: #0be881;
$color-alert: #E74C3C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    /*scroll-behavior: smooth;*/
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

P{
    line-height: 1.75em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@import "./navbar";
@import "./banner";
@import "./my-work";
@import "./services";
@import "./contact-me";
@import "./footer";